<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Actions</th> <!-- Actions column -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>
          <!-- Soft Delete Button -->
          <button 
            *ngIf="!user.deletedAt" 
            class="btn btn-warning btn-sm" 
            (click)="softDeleteUser(user.id)">
            Soft Delete
          </button>

          <!-- Restore Button -->
          <button 
            *ngIf="user.deletedAt" 
            class="btn btn-success btn-sm" 
            (click)="restoreUser(user.id)">
            Restore
          </button>

          <!-- Hard Delete Button -->
          <button 
            class="btn btn-danger btn-sm" 
            (click)="deleteUser(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
