/* Conteneur principal */
.recipe-form-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre */
h2 {
  text-align: center;
  color: #2d4a6c;
}

/* Champs du formulaire */
form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

/* Message d'erreur */
p {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Catégorie */
select {
  cursor: pointer;
}

/* Bouton de soumission */
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

.image-upload-container {
  text-align: center;
  position: relative;
  cursor: pointer;
}

/* Caché l'input file */
input[type="file"] {
  display: none;
}

/* Style du label (fait office de bouton) */
.image-label {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px dashed #7e652c;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.image-label:hover {
  border-color: #2571dc;
}

/* Image prévisualisée */
.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

