<div *ngIf="loading" class="loading">
  <p>Loading...</p>  <!-- Affiche un message de chargement -->
</div>

<div *ngIf="error" class="error">
  <p>{{ error }}</p> 
</div>

<div *ngIf="!loading && recipe" class="recipe-card">
  <h2>{{ recipe.name }}</h2>
  <img  [src]="recipe.imgUrl | defaultImage:'assets/default_recipe.png'" alt="{{ recipe.name }}" class="recipe-image"/>
  <p><strong>Published by:</strong> {{recipe.createdBy?.username }}</p>
  <p><strong>Description:</strong> {{ recipe.description }}</p>
  <p><strong>Category:</strong> {{ recipe.category }}</p>

  <div class="ingredients">
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
    </ul>
  </div>

  <div class="instructions">
    <h3>Instructions:</h3>
    <ul>
      <li *ngFor="let instruction of recipe.instructions">{{ instruction }}</li>
    </ul>    
  </div>

  <button *ngIf="!isAdmin" (click)="saveRecipe(recipe.id)" class="btn btn-primary me-2">Save</button>

  <button *ngIf="isAdmin" (click)="approveRecipe(recipe.id)" class="btn btn-success me-2">Approve</button>
  
  <button *ngIf="isAdmin" (click)="refuseRecipe(recipe.id)" class="btn btn-danger">Refuse</button>
  
  
</div>




