<div class="home-container">
    <header class="header">
      <h1>Foody</h1>
      <p> Explore unique recipes and get inspired by others to create delicious meals!</p>
      <button   routerLink="/AllRecipes">Explore Recipes</button>
    </header>
  
    <section class="features">
      <div class="feature-card">

        <h2> Smart Search</h2>
        <p>Discover recipes based on your tastes and available ingredients..</p>
      </div>
      <div class="feature-card">

        <h2>Favorites</h2>
        <p>Save your favorite recipes and access them at any time.</p>
      </div>
      <div class="feature-card">
        
        <h2>Share Creations</h2>
        <p>Unleash your culinary creativity by posting your recipes</p>
      </div>
    </section>
  
    <section class="cta-section">
      <h2>Ready to inspire others ?</h2>
      <button>Share Recipe</button>
    </section>
 
  </div>
 