<div class="home-container">
    <header class="header">
      <h1>Foody</h1>
      <p>Transform your ingredients into personalized recipes in the blink of an eye!</p>
      <button   routerLink="/recipes">Explorez les recettes</button>
    </header>
  
    <section class="features">
      <div class="feature-card">

        <h2> Smart Search</h2>
        <p>Discover recipes based on your tastes and available ingredients..</p>
      </div>
      <div class="feature-card">

        <h2>Favorites</h2>
        <p>Save your favorite recipes and access them at any time.</p>
      </div>
      <div class="feature-card">
        
        <h2>Personalization</h2>
        <p>Get personalized recommendations tailored to your lifestyle.</p>
      </div>
    </section>
  
    <section class="cta-section">
      <h2>Ready to cook like a chef?</h2>
      <button>Start now</button>
    </section>
 
  </div>
 