<div *ngIf="comments$ | async as comments; else loading">
  <h2>Commentaires</h2>
  <ng-container *ngFor="let comment of comments">
    <div *ngIf="!isReported(comment.id)" class="comment-card">
      <div class="comment-header">
        <strong>{{ comment.author.username }}</strong>
        <span class="comment-date">{{ comment.createdAt | date:'short' }}</span>
      </div>
      <p class="comment-text">{{ comment.content }}</p>
      <button class="report-btn" (click)="report(comment.id)" title="Signaler">🚨</button>
      <hr>
    </div>
  </ng-container>
  
  <ng-template #noComments>
    <p>Aucun commentaire pour cette recette.</p>
  </ng-template>
</div>

<ng-template #loading>
  <p>Chargement des commentaires...</p>
</ng-template>

<!-- Formulaire d'ajout de commentaire -->
<div class="comment-box">
  <textarea [(ngModel)]="comment" placeholder="write your comment here..."></textarea>
  <button (click)="saveComment()">Envoyer</button>
</div>
