<div class="container my-4">
  <input type="text" class="form-control mb-3" placeholder="Rechercher une recette..." [(ngModel)]="searchTerm" (input)="filterRecipes()">

  <!-- Affichage conditionnel des recettes -->
  <div class="recettes-container">
    <div class="recette-card" *ngFor="let recipe of displayedRecipes">
      <img [src]="recipe.imgUrl | defaultImage:'assets/default_recipe.png'" alt="{{ recipe.name }}" class="recette-photo" />
      <h3>{{ recipe.name }}</h3>
      <p>{{ recipe.category }}</p>
      <p>{{ recipe.description }}</p>
      <button (click)="viewDetails(recipe.id)">Details</button>
    </div>
  </div>

  <p *ngIf="displayedRecipes.length === 0">Aucune recette trouvée.</p>
</div>

<h2 *ngIf="isAdmin">Recipes On Hold</h2>
<div class="recettes-container">
  <div class="recette-card" *ngFor="let adminRecipe of adminRecipes">
    <img [src]="adminRecipe.imgUrl | defaultImage:'assets/default_recipe.png'" alt="{{ adminRecipe.name }}" class="recette-photo" />
    <h3>{{ adminRecipe.name }}</h3>
    <p>{{ adminRecipe.category }}</p>
    <p>{{ adminRecipe.description }}</p>
    <button (click)="viewDetails(adminRecipe.id)">Details</button>
  </div>
</div>
