<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#">Foody</a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AllRecipes" routerLinkActive="active">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipe/add" routerLinkActive="active">Post Recipe</a>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto">
      <!-- Notification-->
      <li class="nav-item ">
        <a
          class="nav-link "
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        
      </li>
      <!-- Notification dropdown -->

      <!-- Dropdown menu for profile, login, logout, signup -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px;">
          </a>
          <!-- Added dropdown-menu-end to align to the right -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a class="dropdown-item" routerLink="/signup" routerLinkActive="active">Signup</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
