.recipe-details-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

.recipe-section {
  flex: 1;
  border-right: 2px solid #ddd;
  padding-right: 20px;
}

.comments-section {
  width: 350px; /* Définir une largeur fixe pour éviter qu'elle soit trop large */
  padding-left: 20px;
  flex-shrink: 0; /* Empêche la réduction excessive */
}

/* Formulaire de commentaires */
form {
  width: 100%;
  max-width: 320px; /* Limiter la largeur pour une meilleure mise en page */
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #333;
}

textarea {
  width: 100%;
  min-height: 120px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

textarea:focus {
  border-color: #ff7b00;
}

button {
  width: 100%;
  padding: 12px;
  background: #1d944e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #55b458;
}
